<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flight Number <%= flight.flightNo%></title>
</head>
<body>
  <%- include('../partials/nav') -%>
    <main>
        <section id="show-page">
            <div>Flight Number: </div>
            <div><%= flight.flightNo %></div>
            <div>Date: </div>
            <div><%= flight.departs %></div>
            <div>Airline: </div>
            <div><%= flight.airline %></div>
            <div>Departure Airport: </div>
            <div><%= flight.airport %></div>
        </section>

        <div id="references">
          <div id="destinations">
            <h2>Destinations</h2>
            <form id="add-destinations" method="POST"
            action="/flights/<%= flight._id %>/destinations">
            <label>Airport:</label>
            <select name="airport">
                <% const airports = ['AUS', 'DFW', 'DEN', 'LAX', 'SAN'] %>
                <% airports.forEach(airport => { %>
                    <% if (!(flight.airport === airport || flight.destinations.findIndex(destination => destination.airport === airport) > -1)) { %>
                        <option value=<%= airport %>><%= airport %></option>
                    <% } %>
                <% }) %>
            </select>
            <label>Arrival:</label>
                <input type="datetime-local" name="arrival" %>">
            <input type="submit" value="Add Destination">
            </form>

            <% if (flight.destinations.length) { %>
                <table>
                  <thead>
                    <tr>
                      <th>Airport</th>
                      <th>Arrival</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% flight.destinations.sort((a, b) => a.arrival - b.arrival).forEach(function(destination) { %>
                      <tr>
                        <td><%= destination.airport %></td>
                        <td><%= destination.arrival %></td>
                        <td><form action="/destinations/<%= destination._id %>?_method=DELETE" method="post" id="deletedestination">
                            <button type="submit">DELETE</button>
                        </form></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              <% } else { %>
                <h5>No Destinations</h5>
              <% } %>
            </div>
            <div id="tickets">
              <h2>Tickets</h2>
                <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
                <table id="tickets-list">
                  <thead>
                    <th>Seat</th>
                    <th>Price</th>
                    <th></th>
                  </thead>
                  <!-- <% if (tickets.length) { %> -->
                  <tbody>
                    <tr>
                      <td>Seat</td>
                      <td>Price</td>
                      <td>
                        <form action="????_method=DELETE" method="post" id="deleteticket">
                          <button type="submit">DELETE</button>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                  <!-- <% } %> -->
                </table>
            </div>
        </div>
    </main>
</body>
</html>