<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>flight.flightNo</title>
</head>
<body>
    <%- include('partials/nav') -%>
    <section id="show-page">
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Date: </div>
        <div><%= flight.departs %></div>
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Departure Airport: </div>
        <div><%= flight.airport %></div>
        <div>Destinations: </div>
        <div><%= flight.desinations %></div>
      </section>
</body>
</html>